.container {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  justify-content: space-evenly;
  margin: 30px;
}

@media only screen and (max-width: 726px) {
  .container {
    grid-template-columns: auto auto;
  }
}

.iconBorder {
  max-width: 120px;
  min-width: 120px;
  max-height: 120px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
}

.language {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.html5 {
  background-color: #ff5722;
}

.css3 {
  background-color: #379ad6;
}

.js {
  background-color: #f0db4f;
}

.php {
  background-color: #8993be;
}

.react {
  background-color: #61dafb;
}

.nodeJs {
  background-color: #539e43;
}

.docker {
  background-color: #0093e6;
}

.linux {
  background-color: #000;
}

.bootstrap {
  background-color: #563d7c;
}

.windows {
  background-color: #19ace2;
}
